.header{
    background-color: red;
}

.lista{
    display: grid;
    grid-template-columns:repeat(5, 200px);
    grid-template-rows: 380px 40px repeat(2, 230px) 60px;
    row-gap: 5px;
    column-gap: 10px;
    gap:50px;   
}
