
{% block body %} 
<h1>Detalles de producto</h1>
<div class="detalles">

<div>
        <img src="{{ asset(productoDeta.imagen) }}"  />
</div>
<br></br>
<div>
        <b>Producto {{productoDeta.id}}</b>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Precio :  ${{productoDeta.precio}}</p>
        <a href="{{ path('listar_productos')}}">Volver</a>
</div>

</div>
{% endblock %}